* {margin: 0; padding: 0; box-sizing: border-box;}
html, body{height: 100%; width: 100%; overflow: clip;}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

*{outline: rgba(255, 0, 0, 0.459) solid 1px};

canvas{width: 100%;}